target/
.classpath
.project
.settings
skywatcher/app/.classpath
skywatcher/base/.classpath
skywatcher/app/.project
skywatcher/base/.project
skywatcher/app/.settings
skywatcher/base/.settings
skywatcher/app/target
skywatcher/base/target
bin
